<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <link href="../css/output.css" rel="stylesheet">
    <title>Title</title>
</head>
<body class="p-8 bg-green-200">
<h1 class="text-2xl">Add a new book</h1>
<p>Fill in the form below to add a new book</p>

<form method="POST" action="/addbook">
  <label for="name"></label>
  <p>Enter name:
    <input class="outline outline-1 hover:outline-2" id="name" type="text" name="name" value="" />
  </p>
  <label for="price"></label>
  <br>
  <p>Enter price:
    <input class="outline outline-1 hover:outline-2" id ="price" type="text" name="price" value="">
  </p>
  <br>
  <input class="py-2 px-5 bg-lime-500 rounded-full" type="submit" value="Add new book" />
</form>
<br>
<div>
  <button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/list">Click to see all the books</a>
  </button>
  <button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/">Back to Home</a>
  </button>
</div>
</body>
</html>