<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/output.css" rel="stylesheet">
    <title>Register to the blog</title>
</head>
<body class="p-8 bg-green-200">
    <h1 class="text-2xl">Register to the blog</h1>
<br>
    <p>Fill in the form below and click "Register" to start</p>
    <br>
    <form method="POST" action="/user/create-user-record">

        <p>Enter your first name:
            <label for="firstname"></label>
            <input class="outline outline-1 hover:outline-2" id="firstname" type="text" name="firstname" value="" />
        </p>
        <br>
        <p>Enter your last name:
            <label for="lastname"></label>
            <input class="outline outline-1 hover:outline-2" id="lastname" type="text" name="lastname" value="" />
        </p>
        <br>
        <p>Enter your username:
            <label for="username"></label>
            <input class="outline outline-1 hover:outline-2" id ="username" type="text" name="username" value="">
        </p>
        <br>
        <p>Enter your password:
            <label for="password"></label>
            <input class="outline outline-1 hover:outline-2" id ="password" type="text" name="password" value="">
        </p>
        <br>
        <button type="submit" class="py-2 px-5 bg-lime-500 rounded-full" value="Add new book">Register now</button>
    </form>
    <br>
        <br>
        <button class="py-2 px-5 bg-lime-500 rounded-full">
            <a href="/">Back to Home</a>
        </button>
</body>
</html>
