<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="../css/output.css" rel="stylesheet">
    <title><%=title%></title>
</head>
<body class="p-8 bg-indigo-400">
<h1 class="text-2xl">Edit mode page</h1>
<p class="">Account settings</p>
<p>This is an example paragraph.</p>
<br>
<p>
    <!--    TODO: OPTION TO WRITE A NEW ARTICLE-->
    <!--    TODO: OPTION TO REVIEW ARTICLES WRITTEN BY SOMEONE ELSE, APPROVE THEM AND PUBLISH THEM-->
    <!--    TODO: EDIT PREVIOUS ARTICLES-->

</p>
<br>
<button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/authorhome">Back to author home page</a>
</button>
<br>
<button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/">Back to reader home page</a>
</button>

</body>
</html>