<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="../css/output.css" rel="stylesheet">
    <title><%=title%></title>
</head>
<body class="p-8 bg-indigo-400">
<h1 class="text-2xl"><%=heading1%></h1>
<p class="">Welcome blog readers </p>
<p>This is an example paragraph. Anything in the <strong>body
</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.
</p>
<br>
<br>
<button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/user/login">Log in as author</a>
</button>
<br>
<button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/user/create-user-record">Register</a>
</button>


<table class="border-collapse border border-slate-500 table-auto">
    <thead>
    <tr>
        <th class="border border-slate-600 bg-emerald-600">Article title</th>
        <th class="border border-slate-600 bg-emerald-600">Date</th>
        <th class="border border-slate-600 bg-emerald-600">Author</th>
        <th class="border border-slate-600 bg-emerald-600">Link</th>
    </tr>
    </thead>
    <tbody>

    <% articles.forEach(function(article){ %>
    <tr>
        <td class="border border-slate-700 bg-emerald-500"><%= article.article_title %></td>
        <td class="border border-slate-700 bg-emerald-500"><%= article.article_date_publish %></td>
        <td class="border border-slate-700 bg-emerald-500"><%= article.article_author_id %></td>
        <td class="border border-slate-700 bg-emerald-500">
            <button class="py-2 px-5 bg-lime-500 rounded-full">
                <a href="/readmode?articleId=<%= article.article_id %>">Read article</a>
            </button>
            </td>
    </tr>
    <% }) %>
    </tbody>
</table>

</body>
</html>