<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link href="../css/output.css" rel="stylesheet">
    <title>>Registration page</title>

</head>
<body class="bg-green-200">
<h1 class="text-2xl ">Registration page</h1>
<p>Fill in the form below and click "Register" to start</p>

<form method="POST" action="/registered">
    <label for="first-name"></label>
    <p>First name:
    <input id="first-name" type="text" name="first" value="" />
    </p>
    <label for="last-name"></label>
    <p>Last name:
    <input id="last-name" type="text" name="last" value="" />
    </p>
    <label for="email-address"></label>
    <p>Email address:
    <input id ="email-address" type="email" name="email" value="Your email address">
    </p>
    <input type="submit" value="Register" />
</form>
<br>
<br>
<button class="py-2 px-5 bg-lime-500 rounded-full">
    <a href="/">Back to Home</a>
</button>
</body>
</html>